/* BASE */

.login_form {
	padding-left:  40%;
	padding-right: 40%;
}


/* NAVIGATION PANEL */

.navbar {
	margin: 0 20px 20px	20px;
	overflow: hidden;
}

ul.nav > li {
	border-right: 1px solid black;
}

ul.nav:first-child {
	border-left: 1px solid black;
}

#elsys_brand {
	border-right: 1px solid black;
}

#logout_button {
	margin-right: 10px;
	border-left: 1px solid black;
}


/* CAMPAIGN VIEW */

#campaign_nav {
	padding: 1em;
}

#campaign_search {}

#campaign_checks {}


/* CREATE STUDENT FORM */

.student_field {
	margin: 0.5em;
	width: 40%;
	margin-right: 200px;
}

#create_student_form {
	padding: 1em;
}

#create_student_form > form > div.panel {
	padding: 0.5em;
	height: 100px;
	overflow: hidden;
}

#create_student_form > form > div.panel > * {
	display: inline-table;
}

.form_warning {
	float: right;
	width: 400px;
	margin-bottom: 0px;
}


/* CREATE CAMPAIGN FORM */

#create_campaign_form {
	padding: 1em;
}

#app-login > .btn {
	margin-left: 35%;
	margin-right: 35%;
}

#google-login {
	padding: 20px;
	margin: 20px;
}

#google-login > .btn {
	background-color: #F79F81;
	border-color: none;
}
