<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
</head>

<body>
  	<nav class="navbar navbar-default" role="navigation">
     		<div class="navbar-header">
        		<a class="navbar-brand" href="/">ELSYS</a>
     		</div>
     		<div>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/campaigns/new">Нова кампания</a></li>
                    <li class="active"><a href="/campaigns">Всички кампании</a></li>
                    {% block new_student_link %}{% endblock %}  
                    {% block to_the_campaign %}{% endblock %}
                    {% block generate_pdf %}{% endblock %}
                    {% block export_as_csv %}{% endblock %}
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logout">Изход</a></li>
                </ul>
            {% endif %}
     		</div>
  	</nav>

  	<div class = "container">
  		  {% block home %}{% endblock %}
  		  {% block new_campaign %}{% endblock %}
  		  {% block show_campaign %}{% endblock %}
  		  {% block list_campaigns %}{% endblock %}
  		  {% block create_student %}{% endblock %}
  		  {% block show_student %}{% endblock %}
        {% block edit_student %}{% endblock %}
  	</div>

</body>