{% extends 'base.html' %}
 
{% block title %}Създай ученик{% endblock %}

{% block to_the_campaign %}<li class="active"><a href="/campaigns/{{ campaign_id }}/">Към кампанията</a></li>{% endblock %}

{% block create_student %}

	<div class="panel panel-primary">
		<form method="POST" action="/campaigns/{{campaign_id}}/students/new" role="form">
			{% csrf_token %}
			
			Първо име: <br>{{ form.first_name }}<br><br>
			
			Презиме: <br>{{ form.second_name }}<br><br>
			
			Фамилия: <br>{{ form.third_name }}<br><br>
			
			ЕГН: <br>{{ form.egn }}<br><br>

			Адрес: <br>{{form.address}}<br><br>

			Имена на родител: <br>{{form.parent_name}}<br><br>

			Телефон на родител: <br>{{form.parent_number}}<br><br>

			Училище: <br>{{form.previous_school}}<br><br>

			БЕЛ-Училище: <br>{{form.bel_school}}<br><br>

			Физика-Училище: <br>{{form.physics_school}}<br><br>

			БЕЛ-Матура: <br>{{form.bel_exam}}<br><br>

			Математика-Матура: <br>{{form.maths_exam}}<br><br>

			Математика-ТУЕС: <br>{{form.maths_tues_exam}}<br><br>

			Първо желание: <br>{{form.first_choice}}<br><br>

			Второ желание: <br>{{form.second_choice}}<br><br>
			
			<input type="submit" value="Запази" class="btn btn-primary"/>
			
			<!-- {% if error %}
				{{ error }}
			{% endif %} -->
		</form>
	</div>

{% endblock %}