{% extends 'base.html' %}
 
{% block title %}Create new student{% endblock %}

{% block create_student %}

	<div class="panel panel-primary">
		<form method="POST" action="/campaigns/{{campaign_id}}/students/new" role="form">
			{% csrf_token %}
			
			First name: <br>{{ form.first_name }}<br><br>
			
			Second name: <br>{{ form.second_name }}<br><br>
			
			Third name: <br>{{ form.third_name }}<br><br>
			
			EGN: <br>{{ form.egn }}<br><br>
			
			<input type="submit" value="Submit" class="btn btn-primary"/>
			
			<!-- {% if error %}
				{{ error }}
			{% endif %} -->
		</form>
	</div>

{% endblock %}