{% extends 'base.html' %}
 
{% block title %}Промяна на ученик{% endblock %}

{% block to_the_campaign %}<li class="active"><a href="/campaigns/{{ campaign.id }}/">Към кампанията</a></li>{% endblock %}

{% block edit_student %}

	<div class="panel panel-primary">
		<form method="POST" action="/campaigns/{{campaign.id}}/students/{{student.id}}/edit" role="form">
			{% csrf_token %}
			<div class="panel panel-danger">Първо име: <br><input id="id_first_name" class="edit_student_field required_field" type="text" name="first_name" value="{{ student.first_name }}"><br><br></div>
			
			<div class="panel panel-danger">Презиме: <br><input id="id_second_name" class="edit_student_field required_field" type="text" name="second_name" value="{{ student.second_name }}"><br><br></div>
			
			<div class="panel panel-danger">Фамилия: <br><input id="id_third_name" class="edit_student_field required_field" type="text" name="third_name" value="{{ student.third_name }}"><br><br></div>
			
			<div class="panel panel-danger">ЕГН: <br><input id="id_egn" class="edit_student_field required_field" type="text" name="egn" value="{{ student.egn }}"><br><br></div>

			<div class="panel panel-danger">Адрес: <br><input id="id_address" class="edit_student_field" type="text" name="address" value="{{ student.address }}"><br><br></div>

			<div class="panel panel-danger">Имена на родител: <br><input id="id_parent_name" class="edit_student_field" type="text" name="parent_name" value="{{ student.parent_name }}"><br><br></div>

			<div class="panel panel-danger">Телефон на родител: <br><input id="id_parent_number" class="edit_student_field" type="text" name="parent_number" value="{{ student.parent_number }}"><br><br></div>

			<div class="panel panel-danger">Училище: <br><input id="id_previous_school" class="edit_student_field" type="text" name="previous_school" value="{{ student.previous_school }}"><br><br></div>

			<div class="panel panel-danger">БЕЛ-Училище: <br><input id="id_bel_school" class="edit_student_field student_grade_input" type="text" name="bel_school" value="{{ student.bel_school }}"><br><br></div>

			<div class="panel panel-danger">Физика-Училище: <br><input id="id_physics_school" class="edit_student_field student_grade_input" type="text" name="physics_school" value="{{ student.physics_school }}"><br><br></div>

			<div class="panel panel-danger">БЕЛ-Матура: <br><input id="id_bel_exam" class="edit_student_field student_grade_input" type="text" name="bel_exam" value="{{ student.bel_exam }}"><br><br></div>

			<div class="panel panel-danger">Математика-Матура: <br><input id="id_maths_exam" class="edit_student_field student_grade_input" type="text" name="maths_exam" value="{{ student.maths_exam }}"><br><br></div>

			<div class="panel panel-danger">Математика-ТУЕС: <br><input id="id_maths_exam_tues" class="edit_student_field student_grade_input" type="text" name="maths_tues_exam" value="{{ student.maths_tues_exam }}"><br><br></div>

			<div class="panel panel-danger">Първо желание: <br><input id="id_first_choice" class="edit_student_field student_choices" type="text" name="first_choice" value="{{ student.first_choice }}"><br><br></div>

			<div class="panel panel-danger">Второ желание: <br><input id="id_second_choice" class="edit_student_field student_choices" type="text" name="second_choice" value="{{ student.second_choice }}"><br><br></div>

			<input type="submit" value="Запази" class="btn btn-primary student_form_submit transaction_btn" id="edit_student_submit"/>
			
			<!-- {% if error %}
				{{ error }}
			{% endif %} -->
		</form>
	</div>

{% endblock %}