{% extends 'base.html' %}

{% block title %}Промяна на ученик{% endblock %}

{% block to_the_campaign %}<li class="active"><a href="/campaigns/{{ campaign.id }}/">Към кампанията</a></li>{% endblock %}

{% block edit_student %}

    {% if form.errors %}
        {% for field in form %}
            {% for err in field.errors %}
                <div class='alert alert-danger'>
                    {{ err }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="panel panel-primary" id="create_student_form">
        <form method="POST" action="/campaigns/{{campaign.id}}/students/{{student.id}}/edit" role="form">
            {% csrf_token %}

            <div class="panel panel-danger">Първо име(*): <br>{{ form.first_name }}<br><br></div>

            <div class="panel panel-danger">Презиме(*): <br>{{ form.second_name }}<br><br></div>

            <div class="panel panel-danger">Фамилия(*): <br>{{ form.third_name }}<br><br></div>

            <div class="panel panel-danger">ЕГН(*): <br>{{ form.egn }}<br><br></div>

            <div class="panel panel-danger">Адрес: <br>{{form.address}}<br><br></div>

            <div class="panel panel-danger">Имена на родител: <br>{{form.parent_name}}<br><br></div>

            <div class="panel panel-danger">Телефон на родител: <br>{{form.parent_number}}<br><br></div>

            <div class="panel panel-danger">Училище: <br>{{form.previous_school}}<br><br></div>

            <div class="panel panel-danger">БЕЛ-Училище: <br>{{form.bel_school}}<br><br></div>

            <div class="panel panel-danger">Физика-Училище: <br>{{form.physics_school}}<br><br></div>

            <div class="panel panel-danger">БЕЛ-Матура: <br>{{form.bel_exam}}<br><br></div>

            <div class="panel panel-danger">Математика-Матура: <br>{{form.maths_exam}}<br><br></div>

            <div class="panel panel-danger">Математика-ТУЕС: <br>{{form.maths_tues_exam}}<br><br></div>

            <div class="panel panel-danger">Първо желание: <br>{{form.first_choice}}<br><br></div>

            <div class="panel panel-danger">Второ желание: <br>{{form.second_choice}}<br><br></div>

            <input name="next" type="hidden" value="false">

            <input type="submit" value="Запази" class="btn btn-primary student_form_submit transaction_btn" id="edit_student_submit"/>
            <input type="submit" value="Запази и следващ" class="btn btn-primary student_form_submit transaction_btn" id="edit_student_next"/>
        </form>
    </div>

{% endblock %}
