{% extends 'base.html' %}

{% block title %} Списък с кампании {% endblock %}

{% block list_campaigns %}
	<table class="table table-hover table-bordered">	
		<thead>
			<tr>
				<td><b><center>№</center></b></td>
				<td><b><center>Име</center></b></td>
				<td><b><center>Описание</center></b></td>
				<td><b><center></center></b></td>
			</tr>
		</thead>
		<tbody>
			{% for campaign in campaigns %}
				<tr>				
					<td><center>{{ forloop.counter }}</center></td>
					<td><center>{{ campaign.title }}</center></td>
					<td><center>{{ campaign.description }}</center></td>
					<td><center><a href="/campaigns/{{ campaign.id }}/">Още</a></center></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}