{% extends 'base.html' %}
 
{% block title %}Създай нова кампания{% endblock %}

{% block new_campaign %}

	<div class="panel panel-primary">
		<form method="POST" action="/campaigns/new" role="form">
			{% csrf_token %}
			
			<div class="form-group">
				Име: <br>{{ form.title }}<br>
			</div>

			<div class="form-group">
				Описание: <br>{{ form.description }}<br>
			</div>

			<input type="submit" value="Запази" class="btn btn-primary"/>
			<!-- {% if error %}
				{{ error }}
			{% endif %} -->
		</form>
	</div>

{% endblock %}
